@model LoginViewModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-dark text-white p-2">
        <div class="col navbar-brand">Sports Ecommerce</div>
    </div>

    <div class="m-1 p-1">
          <div class="text-danger" asp-validation-summary="All"></div>

          <form asp-action="Login" asp-controller="Account" method="post">
              <input type="hidden" asp-for="ReturnUrl" />
              <div class="form-group">
                  <label asp-for="Name"></label>
                  <span asp-validation-for="Name" class="text-danger"></span>
                  <input asp-for="Name" class="form-control" />
              </div>

              <div class="form-group">
                  <label asp-for="Password"></label>
                  <span asp-validation-for="Password" class="text-danger"></span>
                  <input asp-for="Password" class="form-control" />
              </div>
              <button class="btn btn-primary" type="submit">Log In</button>
          </form>
    </div>
</body>
</html>
