@page
@model IdentityUserModel

<table class="table table-sm table-bordered table-striped">
    <tbody>
        <tr>
            <th>User</th>
            <td>@Model.AdminUser.UserName</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>@Model.AdminUser.Email</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>@Model.AdminUser.PhoneNumber</td>
        </tr>

    </tbody>
</table>